main {
    clear: both;
    padding-top: 32px;
}

h2 {
    text-align: center;
}

h2 + p {
    font-style: italic;
    text-align: center;
}

form {
    border-collapse: collapse;
    border-top: 4px solid var(--coffee);
}
form button {
    margin-top: 16px;
}

fieldset {
    text-align: left;
    background-color: var(--white);
    border: 2px solid var(--pink);
    border-left: none;
    border-right: none;
    border-collapse: inherit;
    width: 90%;
}

fieldset:first-child {
    border-top: none;
}
fieldset:last-of-type {
    border-bottom-width: 4px;
}

legend {
    float: left;
}
fieldset p, fieldset label {
    padding: 8px 0 0 32px;
}

@media all and (max-width: 576px) {
    main {
        padding-top: 72px;
    }
    fieldset {
        width: 100%;
    }
}